<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dm Dupont 20210215</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="root">
        <section>
            <nav>
                <ul>
                    <li id="home">HOME</li>
                    <li id="books">ALL BOOKS</li>
                    <li id="authors">ALL AUTHORS</li>

                </ul>
                <ul>
                    <li id="create-book">CREATE NEW BOOK</li>
                    <li id="create-author">CREATE NEW AUTHOR</li>
                </ul>
            </nav>
        </section>
        <section id="app">
        </section>
    </div>
</body>
<script src="code/Frontend.js"></script>

</html>